* {
  padding: 0;
  margin: 0;
}

.pitch-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
    padding: 3rem;
    background: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.116);
    cursor: pointer;
    border-left: 5px dotted rgb(1, 85, 14);
}